<div class="container">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#" data-toggle="stub">
          <span>
            <i class="fa fa-car" aria-hidden="true"></i>
          </span>
          World Insurance Group v.2
        </a>
      </nav>
      <div class="">
        <div class="body mt-4">
          <h1 class="mb-4">
            <span>Welcome John Smith and Amanda Smith</span>
            <br />
            <small class="text-muted tiny"
              >Last Login Monday October 30, 2017 02:05 PM EDT</small
            >
          </h1>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Billing &
                Payments for My Auto Policy
              </div>
              <div class="card-body">
                <div class="row mt-2">
                  <div class="col text-center">
                    <h5>
                      <div class="mb-3 small">
                        <strong>Date of Next Recurring Card Payment</strong>
                      </div>
                      <div>Wednesday<br />12/06/2017</div>
                    </h5>
                  </div>
                  <div class="col text-center">
                    <h5>
                      <div class="mb-3 small">
                        <strong>Next Amount to be charged</strong>
                      </div>
                      <div class="display-4 text-success">$107.98</div>
                    </h5>
                  </div>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex d-align-items-left">
                  <span>Total 6 Month Premium:</span>
                  <span class="ml-md-auto">$647.88</span>
                </li>
                <li class="list-group-item d-flex d-align-items-left">
                  <span>Remaining Balance:</span>
                  <span class="ml-md-auto">$431.92</span>
                </li>
                <li class="list-group-item d-flex d-align-items-left">
                  <span>Amount of Last Payment:</span>
                  <span class="ml-md-auto">$107.98 </span>
                </li>
                <li class="list-group-item d-flex d-align-items-left">
                  <span>Last Payment Received:</span>
                  <span class="ml-md-auto">10/26/2017</span>
                </li>
                <li class="list-group-item">
                  <i>You are on the (Monthly with WIG AutoPay) pay plan.</i>
                </li>
                <li class="list-group-item">
                  You are enrolled in a recurring credit/debit card payment
                  plan.
                  <a href="" data-toggle="stub">Edit your card</a> information
                  online.
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="row mb-4">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-user" aria-hidden="true"></i> Policy Info
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <h6 class="text-muted">Base information</h6>
                      Policy Number: <b>4450354958</b> <br />
                      Policy Period: 08/06/2017 to 02/06/2018
                    </li>
                    <li class="list-group-item">
                      <h6 class="text-muted">Home Address</h6>
                      <ul class="list-unstyled address">
                        <li>620 Coolidge Drive</li>
                        <li>Suite 200</li>
                        <li>Folsom, CA 95630</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <instant-payment></instant-payment>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-link" aria-hidden="true"></i> Quick Links
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a href="#" data-toggle="stub"
                        ><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        Change Address</a
                      >
                    </li>
                    <li class="list-group-item">
                      <a href="#" data-toggle="stub"
                        ><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        Manage Vehicles</a
                      >
                    </li>
                    <li class="list-group-item">
                      <a href="#" data-toggle="stub"
                        ><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        Manage Drivers</a
                      >
                    </li>
                    <li class="list-group-item">
                      <a href="#" data-toggle="stub"
                        ><i class="fa fa-chevron-right" aria-hidden="true"></i>
                        ID Cards</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-dark p-4">
        <div class="text-center">
          <a class="navbar-brand text-muted" href="#">
            <span>
              <i class="fa fa-car" aria-hidden="true"></i>
            </span>
            World Insurance Group
          </a>
        </div>
        <div class="text-center small">
          <a href="#" class=""><small>Privacy</small></a>
          <span class="text-white text-muted">|</span>
          <a href="#" class=""><small>Legal</small></a>
          <span class="text-white text-muted">|</span>
          <a href="#" class=""><small>Site map</small></a>
          <span class="text-white text-muted">|</span>
          <a href="#" class=""><small>Contact Us</small></a>
        </div>
      </footer>
    </div>